//левая часть формы(с надписью signup)
.form-left {
    width: 100%;
    max-width: 137.2px;
    height: 100%;
    background: $violet;
    position: relative;

    @include phone-only {
        display: none;
    }

    .form-left__signup {
        position: absolute;
        bottom: 22px;
        right: 0; 
    }
}