.info-top {
    .top-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16.1px;


        @include phone-only {
            flex-wrap: wrap;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .top-item {
            width: 100%;
            max-width: 234.5px;
            position: relative;

            &:nth-child(1) {
                animation: slowShow 1s ease-in-out;;
            }
            &:nth-child(2) {
                animation: slowShow 1.5s ease-in-out;;
            }
            &:nth-child(3) {
                animation: slowShow 2s ease-in-out;;
            }
            &:nth-child(4) {
                animation: slowShow 2.25s ease-in-out;;
            }
            &:nth-child(5) {
                animation: slowShow 2.5s ease-in-out;;
            }
            &:nth-child(6) {
                animation: slowShow 2.75s ease-in-out;;
            }
            //класс для отображения ошибки(красный цвет,красное подчеркивание)
            &.error {
                input {
                    color: $red;
                    border-bottom: 0.7px solid $red;

                    &:focus, 
                    &:active,
                    &:checked {
                        border: none;
                        outline: none;
                        border-bottom: 0.7px solid $red;
                    }
                }
            }

            #firstNameError,
            #lastNameError,
            #emailError,
            #passError,
            #confirmPassError {
                position: absolute;
                bottom: -10px;
                font-family: Work-Sans;
                font-style: normal;
                font-size: 10rem;
                color: $red;
            }
            @include phone-only {
                max-width: unset;
                margin-bottom: 20px;
            }
            
            label,
            .gender-title {
                display: block;
                margin-bottom: 5px;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: 300;
                font-size: 12rem;
                line-height: 14rem;
                cursor: pointer;
                color: $grey;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .gender-title {
                margin-bottom: 7.7px;
            }
            //общие стили для инпутов и списков
            input,
            select {
                padding: 0 0 6px 0;
                background: none;
                border: none;
                border-bottom: 0.7px solid $background-color;
                font-family: Work-Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 14rem;
                line-height: 16rem;
                color: $black;

                &:focus, 
                &:active,
                &:checked {
                    border: none;
                    outline: none;
                    border-bottom: 0.7px solid $violet;
                }

                &::placeholder {
                    color: rgba($grey, .5);
                }
            }

            input {
                width: 100%;
            }
            //отдельные стили списков для конкретных id
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                min-width: 56px;
                padding-right: 20px;
                background: url("/svg/sprite.svg#Arrow") no-repeat;
                background-position: 100% 50%;
                background-size: 10px 10px;
                cursor: pointer;

                &#DATE_YEAR {
                    background-position: 100% 20%;
                }

                &#NATIONALITY {
                    width: 100%;
                    padding-right: 0;
                    // background-size: 5% 60%;
                    
                }
            }
            
            &.emailBlock {
                .valid-arrow {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 11px;
                    height: 8px;
                    opacity: 0;
                    transition: .3s;
                } 
                &.validMail {
                    .valid-arrow {
                        opacity: 1;
                        transition: 1s;
                    }
                }  
            }

            .item-date {
                display: flex;
                justify-content: space-between;
            }

            .item-gender {
                display: flex;

                .gender-wrapper {
                    margin-left: 22px;

                    &:first-child {
                        margin-left: 0;
                    }

                    label {
                        margin: 0;
                    }

                    input[type="radio"] {
                        &:checked,
                        &:not(:checked) {
                            position: absolute;
                            left: -9999px;
                        }
    
                        &:checked + label,
                        &:not(:checked) + label {
                            display: inline-block;
                            position: relative;
                            padding-left: 18px;
                            cursor: pointer;
                            font-family: Work-Sans;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 12rem;
                            line-height: 14rem;
                            color: $grey;
                        }
    
                        &:checked + label:before,
                        &:not(:checked) + label:before {
                            content: "";
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            width: 12px;
                            height: 12px;
                            border: 0.7px solid $violet;
                            border-radius: 100%;
                            background-color: none;
                        }
    
                        &:checked + label:after,
                        &:not(:checked) + label:after {
                            content: "";
                            position: absolute;
                            left: 3px;
                            top: 3px;
                            width: 6px;
                            height: 6px;
                            -webkit-transition: all 0.2s ease;
                            -moz-transition: all 0.2s ease;
                            -o-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                            border-radius: 100%;
                            background-color: $violet;
                        }
    
                        &:not(:checked) + label:after {
                            opacity: 0;
                        }
    
                        &:checked + label:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .form-success {
        display: none;
        transition: .5s;
        padding: 216.52px 351px 152px 42.8px;
        
        h3 {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 22rem;
            line-height: 26rem;
            letter-spacing: -0.46px;
            color: $black;
        }

        h4 {
            font-family: Work-Sans;
            font-style: normal;
            font-weight: 300;
            font-size: 14rem;
            line-height: 16rem;
            color: $black;
        }

        &.active {
            display: flex;
            justify-content: center;
            flex-direction: column;
            transition: .5s;
        }
    }
}