svg{
    &.signup-svg {
        fill: $white;
        width: 63px;
        height: 162px;
    }
    
    &.shape-svg {
    
    }
    
    &.radio-false {
    
    }
    
    &.radio-true {
    
    }
}
