@import "right-info/right-info.scss";

.form-right {
    width: 100%;
    max-width: 527.8px;
    height: 100%;
    padding: 38.5px 22px 32.5px 21px;
    background: url("/svg/sprite.svg#Shape") bottom right no-repeat;
    background-size: 307px 355px;

    @include phone-only {
        max-width: unset;
    }

}